/* eslint-disable no-empty */
<template>
  <div class="container">
    <div>
      <h6>
        <b>
          <ins>Form {{currentForm.id}}</ins>
        </b>
      </h6>
    </div>

    <div>
      <label>跳至</label>
      
      <select v-bind:value="currentForm.id" v-on:change="handleChangeForm">
        <option
          v-for="(valueObj) in allForms"
          v-bind:key="valueObj.id"
          v-bind:value="valueObj.id"
        >
          {{ valueObj.id }}
        </option>
      </select>
      
      <label>,共{{allForms.length}}張</label>
    </div>

    <div>
      <button
        type="button"
        class="btn btn-primary m-1"
        v-on:click="handleLogThisFormClick"
      >
        Log this form
      </button>
      <button
        type="button"
        class="btn btn-info m-1"
        v-on:click="handleLogAllFormsClick"
      >
        Log all forms
      </button>
      <button
        type="button"
        class="btn btn-danger m-1"
        v-on:click="handleDeleteThisFormClick"
        v-bind:style="getDeleteFormButtonStyle"
      >
        Delete this form
      </button>
    </div>

    <main class="main my-1">
      <ul class="nav nav-tabs" id="newTab" role="tablist">
        <li
          class="nav-item"
          v-for="(valueObj,arrIndex) in currentForm.records"
          v-bind:key="valueObj.tab_name"
        >
          <a
            class="nav-link"
            v-bind:class="{active:getTabActiveStyle(arrIndex)}"
            v-on:click.prevent="handleTabClick"
            v-bind:id="arrIndex"
            data-toggle="tab"
            href
            role="tab"
          >
            {{ getTabName(valueObj.tab_name) }}
          </a>
        </li>
      </ul>

      <div class="tab-content container" id="myTabContent">
        <PersonalInfoContent
          v-if="shouldTabContentExistPersonalInfo"
          v-bind:currentTabIndex="currentTabIndex"
          :currentForm="currentForm"
          :currentTabObj="currentTabObj"
          :handleInputChange="handleInputChange"
          :canFillAdress="canFillAdress"
          :checkHomeBox="checkHomeBox"
          :jobObj="jobObj"
          :handleSelectJob="handleSelectJob"
          :getNoteCharacters="getNoteCharacters"
          :handleNoteChange="handleNoteChange"
        />

        <OrdersContent
          v-if="shouldTabContentExistOrders"
          :currentTabIndex="currentTabIndex"
          :currentForm="currentForm"
          :currentTabObj="currentTabObj"
          :handleAppleChangeDesignatedQuantityButton="handleAppleChangeDesignatedQuantityButton"
          :handleAppleChangeDesignatedQuantityInText="handleAppleChangeDesignatedQuantityInText"
          :bananaCondimentObj="bananaCondimentObj"
        />

        <OverviewContent
          v-if="shouldTabContentExistOverview"
          :currentTabIndex="currentTabIndex"
          :currentForm="currentForm"
          :currentTabObj="currentTabObj"
          :bananaCondimentObj="bananaCondimentObj"
          :doOrdersExist="doOrdersExist"
          :getOrdersIndex="getOrdersIndex"
          :getPersonalInfoIndex="getPersonalInfoIndex"
        />
      </div>
    </main>

    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li
          class="page-item"
          v-bind:class="canClickPrevious"
          v-on:click.prevent="handlePageClickPrevious()"
        >
          <a class="page-link" v-bind:title="getPreviousId" href>Previous</a>
        </li>

        <li
          class="page-item"
          v-for="(valueObj,arrKey) in allForms"
          v-bind:key="valueObj.id"
          v-bind:class="{active: arrKey===currentIndex}"
          v-on:click.prevent="handlePageClickIndex(arrKey)"
        >
          <a class="page-link" v-bind:title="valueObj.id" href>{{arrKey+1}}</a>
        </li>

        <li
          class="page-item"
          v-bind:class="canClickNext"
          v-on:click.prevent="handlePageClickNext()"
        >
          <a class="page-link" v-bind:title="getNextId" href>Next</a>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
import testData from "../jsonData/testData.json";
import OverviewContent from "./OverviewContent.vue";
import OrdersContent from "./OrdersContent.vue";
import PersonalInfoContent from "./PersonalInfoContent.vue";

const jsonData = testData;

export default {
  name: "MainComponent",
  components: {
    OverviewContent,
    OrdersContent,
    PersonalInfoContent
  },
  data() {
    return {
      currentIndex: 0, //current form index
      currentTabName: "",
      currentTabIndex: 0,

      jobObj: {
        null: "保密",
        agent: "調查員",
        secret_agent: "祕密調查員",
        agent_of_secret_agent: "祕密調查員的調查員"
      },
      bananaCondimentObj: {
        chocolate: "巧克力醬",
        strawberry: "草莓醬",
        flax: "胡麻醬",
        miso: "味噌",
        chili: "辣椒",
        garlic: "大蒜",
        soy_sauce: "醬油",
        thick_soy_sauce: "醬油膏",
        herbal_cream: "百草膏"
      },
      //--------------------------------
      allForms: []
    };
  },
  computed: {
    canFillAdress() {
      if (this.currentTabObj.data !== undefined) {
        return this.currentTabObj.data.is_homeless;
      }
    },
    getNoteCharacters() {
      if (this.currentTabObj.data !== undefined) {
        if (this.currentTabObj.data.note !== undefined) {
          if (this.currentTabObj.data.note === null) {
            return 0;
          } else {
            return this.currentTabObj.data.note.length;
          }
        }
      }
    },
    getDeleteFormButtonStyle() {
      if (this.allForms.length === 1) {
        return { display: "none" };
      } else {
        return "";
      }
    },
    canClickPrevious() {
      if (this.currentIndex === 0) {
        return "disabled";
      } else {
        return "";
      }
    },
    canClickNext() {
      if (this.allForms.length - this.currentIndex === 1) {
        return "disabled";
      } else {
        return "";
      }
    },
    getPreviousId() {
      if (this.currentIndex === 0) {
        return "";
      } else {
        return this.allForms[this.currentIndex - 1].id;
      }
    },
    getNextId() {
      if (this.allForms.length - this.currentIndex === 1) {
        return "";
      } else {
        return this.allForms[this.currentIndex + 1].id;
      }
    },
    shouldTabContentExistPersonalInfo() {
      return this.currentTabName === "personal_info";
    },
    shouldTabContentExistOrders() {
      return this.currentTabName === "orders";
    },
    shouldTabContentExistOverview() {
      return this.currentTabName === "overview";
    },
    doOrdersExist() {
      let i;
      for (i in this.currentForm.records) {
        if (this.currentForm.records[i].tab_name === "orders") {
          return true;
        }
      }
      return false;
    },
    getPersonalInfoIndex() {
      let i;
      for (i in this.currentForm.records) {
        if (this.currentForm.records[i].tab_name === "personal_info") {
          return parseInt(i, 10);
        }
      }
    },
    getOrdersIndex() {
      let i;
      for (i in this.currentForm.records) {
        if (this.currentForm.records[i].tab_name === "orders") {
          return parseInt(i, 10);
        }
      }
    },
    currentForm() {
      const { allForms } = this.$data;
      if (allForms.length === 0) {
        console.log("undefined!!");
        return undefined;
      }
      return allForms[this.currentIndex];
    },
    currentTabObj() {
      return this.currentForm.records[this.currentTabIndex];
    }
  },
  beforeMount() {
    this.allForms = jsonData;
  },
  methods: {
    handleInputChange(e) {
      const { name, value } = e.target;
      this.currentTabObj.data[name] = value;
    },
    checkHomeBox(e) {
      this.currentTabObj.data.is_homeless = e.target.checked;
      if (this.currentTabObj.data.is_homeless) {
        // console.log(
        //   this.currentForm.records[this.currentTabIndex].data.is_homeless
        // );
        // console.log("clear address");
        this.currentTabObj.data.address = "";
      } else {
        //console.log("address input switch to be available");
      }
    },
    handleSelectJob(e) {
      //console.log(e.target.value);
      let getKey = Object.keys(this.jobObj).find(
        key => this.jobObj[key] === e.target.value
      );
      this.currentTabObj.data.job = getKey;
      // console.log(
      //   "job=" + this.currentForm.records[this.currentTabIndex].data.job
      // );
      // console.log("jobObj=");
      // console.log(this.jobObj);
    },
    handleNoteChange(e) {
      this.currentTabObj.data.note = e.target.value;
      // console.log(
      //   "Note=" + this.currentForm.records[this.currentTabIndex].data.note
      // );
    },
    handleAppleChangeDesignatedQuantityButton(e) {
      let designatedQuantity = parseInt(e.target.value, 10);
      this.currentTabObj.data.apple_count += designatedQuantity;
      if (this.currentTabObj.data.apple_count < 1) {
        this.currentTabObj.data.apple_count = 1;
      } else if (this.currentTabObj.data.apple_count > 100) {
        this.currentTabObj.data.apple_count = 100;
      }
      // console.log(
      //   "total apple quantity=" +
      //     this.currentForm.records[this.currentTabIndex].data.apple_count
      // );
    },
    handleAppleChangeDesignatedQuantityInText(e) {
      //console.log("e.target.value=" + e.target.value);
      let targetV = e.target.value;
      //console.log("targetV=" + targetV);
      let everyTargetV;
      let pureNum = true;
      for (everyTargetV of targetV) {
        if (isNaN(everyTargetV)) {
          // console.log("hhhhh");
          // console.log("this one is not a number: " + everyTargetV);
          // console.log("wwwww");
          pureNum = false;
          let tempNum = this.currentTabObj.data.apple_count;
          //console.log("tempNum="+this.currentTabObj.data.apple_count);
          this.currentTabObj.data.apple_count =
            "temp value to restore the original value";
          this.currentTabObj.data.apple_count = tempNum;
          break;
        }
      }
      if (pureNum) {
        //console.log("nice it's pure number now:" + e.target.value);
        let designatedQuantity = parseInt(e.target.value, 10);
        this.currentTabObj.data.apple_count = designatedQuantity;
        if (
          this.currentTabObj.data.apple_count < 1 ||
          isNaN(this.currentTabObj.data.apple_count)
        ) {
          this.currentTabObj.data.apple_count = 1;
        } else if (this.currentTabObj.data.apple_count > 100) {
          this.currentTabObj.data.apple_count = 100;
        }
        // console.log(
        //   "total apple quantity=" +
        //     this.currentForm.records[this.currentTabIndex].data.apple_count
        // );
      }
    },
    getTabName(tabName) {
      //console.log("return tab name:");
      if (tabName === "personal_info") {
        //console.log("return Personal Info");
        return "Personal Info";
      }
      if (tabName === "orders") {
        //console.log("return Orders");
        return "Orders";
      }
      if (tabName === "overview") {
        //console.log("return Overview");
        return "Overview";
      }
    },
    handleTabClick(e) {
      //console.log("tab Index you click now=" + e.target.id);
      //console.log(typeof e.target.id);
      if (e.target.id === "0") {
        this.currentTabIndex = 0;
        //console.log("this.currentTabIndex=" + this.currentTabIndex);
      }
      if (e.target.id === "1") {
        this.currentTabIndex = 1;
        //console.log("this.currentTabIndex=" + this.currentTabIndex);
      }
      if (e.target.id === "2") {
        this.currentTabIndex = 2;
        //console.log("this.currentTabIndex=" + this.currentTabIndex);
      }
    },
    getTabActiveStyle(arrIndex) {
      if (arrIndex === this.currentTabIndex) {
        this.currentTabName = this.currentForm.records[arrIndex].tab_name;
        return true;
      }
    },
    handleChangeForm(e) {
      //console.log("select~~~");
      //console.log(e.target.value); //id. e.g. A000000......
      let objInArr = this.allForms.find(x => x.id === e.target.value);
      //console.log(objInArr);
      let indexArr = this.allForms.indexOf(objInArr);
      //console.log("select new index=" + indexArr);

      this.currentIndex = indexArr; //modify form index
      this.currentTabIndex = 0; //reset currentTabIndex when switch another form

      //let jsonIndex=this.jsonTestedArr.indexOf(objInArr);
      //console.log("index="+jsonIndex);
      //console.log(this.jsonTestedArr[jsonIndex]);
    },
    handlePageClickIndex(jsonArrIndex) {
      //console.log("index=" + jsonArrIndex);
      this.currentIndex = jsonArrIndex;
      this.currentTabIndex = 0; //reset currentTabIndex when switch another form
    },
    handlePageClickPrevious() {
      if (this.currentIndex !== 0) {
        this.currentIndex -= 1;
        this.currentTabIndex = 0; //reset currentTabIndex when switch another form
      }
    },
    handlePageClickNext() {
      if (this.allForms.length - this.currentIndex !== 1) {
        this.currentIndex += 1;
        this.currentTabIndex = 0; //reset currentTabIndex when switch another form
      }
    },
    handleLogThisFormClick() {
      console.log("Log this form:");
      console.log(this.currentForm);
    },
    handleLogAllFormsClick() {
      console.log("Log all forms:");
      console.log(this.allForms);
    },
    handleDeleteThisFormClick() {
      console.log("Delete this form");
      let jsonArrLength = this.allForms.length;
      //console.log("jsonArrLength=" + jsonArrLength);
      if (jsonArrLength - this.currentIndex === 1) {
        // if want to delete the last form
        //console.log("the last form");
        this.allForms.splice(this.currentIndex, 1);
        this.currentIndex = 0;
      } else {
        //console.log("not the last form");
        this.allForms.splice(this.currentIndex, 1);
      }

      //console.log("jsonIndex=" + this.currentIndex);
      //console.log("jsonArrLength=" + this.allForms.length);
    }
  }
};
</script>

<style scoped>
.main {
  border: 1px solid #ccc;
}
</style>
