<template>
  <div
    class="tab-pane fade show active"
    id="orders"
    name="tabContent"
    role="tabpanel"
    aria-labelledby="orders-tab"
  >
    <div>
      <b>Apple</b>
      <input type="button" value="-5" v-on:click="handleAppleChangeDesignatedQuantityButton">
      <input type="button" value="-1" v-on:click="handleAppleChangeDesignatedQuantityButton">
      <input
        type="text"
        v-bind:value="currentTabObj.data.apple_count"
        v-on:keyup="handleAppleChangeDesignatedQuantityInText"
      >
      <input type="button" value="+1" v-on:click="handleAppleChangeDesignatedQuantityButton">
      <input type="button" value="+5" v-on:click="handleAppleChangeDesignatedQuantityButton">
    </div>

    <div>
      <b>Banana</b>
      <br>
      <label>配料</label>
      <br>

      <label v-for="(condiment,bananaObjKey) in bananaCondimentObj" v-bind:key="condiment">
        <input
          type="checkbox"
          name="everyCondiment"
          v-bind:value="bananaObjKey"
          v-model="currentTabObj.data.banana_condiments"
        >
        {{condiment}}
      </label>
    </div>
  </div>
</template>

<script>
export default {
  name: "OrdersContent",
  props:{//
    currentTabIndex: Number,
    currentTabObj: Object,
    handleAppleChangeDesignatedQuantityButton: Function,
    handleAppleChangeDesignatedQuantityInText: Function,
    bananaCondimentObj: Object,
  }
}
</script>
