<template>
  <div
    class="tab-pane fade show active"
    id="overview"
    name="tabContent"
    role="tabpanel"
    aria-labelledby="overview-tab"
  >
    <div>
      以下是
      <label
        v-if="doesFirstNameExist && doesLastNameExist"
      >{{PersonalInfoObj.data.first_name}} {{PersonalInfoObj.data.last_name}}</label>
      <label v-else-if="doesFirstNameExist">{{PersonalInfoObj.data.first_name}}</label>
      <label v-else-if="doesLastNameExist">{{PersonalInfoObj.data.last_name}}</label>
      <label v-else>unknown</label>
      的訂單︰
      <ul style="list-style-type:disc;">
        <li v-if="doOrdersExist">{{OrdersObj.data.apple_count}}顆蘋果</li>

        <li v-if="doOrdersExist">香蕉配料
          <ul type="circle">
            <li
              v-for="condiment in OrdersObj.data.banana_condiments"
              v-bind:key="condiment"
            >{{bananaCondimentObj[condiment]}}</li>
          </ul>
        </li>
        <li v-else>No data found</li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: "OverviewContent",
  props: {
    currentTabIndex: Number,
    currentForm: Object,
    currentTabObj: Object,
    bananaCondimentObj: Object,
    doOrdersExist: Boolean,
    getOrdersIndex: Number,
    getPersonalInfoIndex: Number
  },
  methods: {},
  computed: {
    doesFirstNameExist() {
      if (this.PersonalInfoObj) {
        if (this.PersonalInfoObj.data) {
          return this.PersonalInfoObj.data.first_name !== "";
        }
      }
    },
    doesLastNameExist() {
      if (this.PersonalInfoObj) {
        if (this.PersonalInfoObj.data) {
          return this.PersonalInfoObj.data.last_name !== "";
        }
      }
    },
    PersonalInfoObj() {
      if (this.currentForm.records !== undefined) {
        return this.currentForm.records[this.getPersonalInfoIndex];
      }
    },
    OrdersObj() {
      return this.currentForm.records[this.getOrdersIndex];
    }
  }
};
</script>

