<template>
  <div
    class="tab-pane fade show active"
    id="personalInfo"
    name="tabContent"
    role="tabpanel"
    aria-labelledby="personalInfo-tab"
  >
    <!-- personalInfo tab area -->
    <div class="row">
      <div class="col-6" style="margin-bottom: 0.5rem;">
        <label style="margin-right: 0.5rem">First name</label>
        <input
          class="form-control"
          name="first_name"
          v-on:input="handleInputChange"
          v-bind:value="currentTabObj.data.first_name"
        >
      </div>

      <div class="col-6" style="margin-bottom: 0.5rem;">
        <label style="margin-right: 0.5rem">Last name</label>
        <input
          class="form-control"
          name="last_name"
          v-on:input="handleInputChange"
          v-bind:value="currentTabObj.data.last_name"
        >
      </div>
    </div>

    <div class="d-flex flex-row">
      <span>Gender</span>
      
      <div class="d-flex flex-column ml-3">
        <label class="mx-5">
          <input type="radio" v-bind:value="0" v-model="currentTabObj.data.gender">
          Secret
        </label>

        <label class="mx-5">
          <input type="radio" v-bind:value="1" v-model="currentTabObj.data.gender">
          Male
        </label>

        <label class="mx-5">
          <input type="radio" v-bind:value="2" v-model="currentTabObj.data.gender">
          Female
        </label>

      </div>
    </div>

    <div class="" style="margin-bottom: 0.5rem;">
      <label style="margin-right: 0.5rem">Address</label>
      <input 
        class="form-control"
        v-bind:disabled="canFillAdress" 
        v-model="currentTabObj.data.address"
      >
      
      <input
        id="home-checkbox"
        type="checkbox"
        v-bind:checked="canFillAdress"
        v-on:click="checkHomeBox"
      >
      <label for="home-checkbox">此客戶不提供住址</label>
    </div>

    <div class="form-group">
      <label>
        Job
        <select
          class="form-control"
          v-bind:value="jobObj[currentTabObj.data.job]"
          v-on:change="handleSelectJob"
        >
          <option v-for="(objValue,objKey) in jobObj" v-bind:key="objKey">{{objValue}}</option>
        </select>
      </label>
    </div>

    <div>
      <label style="margin-right: 0.5rem">Note</label>
      <br>
      <small>{{getNoteCharacters}}</small>
      <small>/2000 characters</small>
      <br>
      <textarea
        maxlength="2000"
        class="form-control"
        v-on:input="handleNoteChange"
        v-bind:value="currentTabObj.data.note"
      ></textarea>
    </div>
    <!-- personalInfo tab area -->
  </div>
</template>

<script>
export default {
  name: "OverviewContent",
  props: {
    currentTabIndex: Number,
    currentTabObj: Object,
    handleInputChange: Function,
    canFillAdress: Boolean,
    checkHomeBox: Function,
    jobObj: Object,
    handleSelectJob: Function,
    getNoteCharacters: Number,
    handleNoteChange: Function,
  }
};
</script>
