<template>
  <div class="app">
    <MainComponent/>
  </div>
</template>

<script>
import MainComponent from "./components/MainComponent.vue";

export default {
  name: "App",
  components: {
    MainComponent
  }
};
</script>

<style lang="scss">
.app {
  color: #2c3e50;
  margin-top: 60px;
}
</style>
